name: Demo Workflow
on:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm ci
      - name: Lint Project
        run: npm run lint
      - name: Test Project
        run: npm test
  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
        - name: Checkout code
          uses: actions/checkout@v3
        - name: Install dependencies
          run: npm ci
        - name: Build Project
          run: npm run build
        - name: Upload Build Artifacts
          uses: actions/upload-artifact@v4
          with:
            name: dist-files
            path: |
                dist
                package.json
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
        - name: Deploy to Server
          run: echo "Deploying to server..."