name: Demo Workflow
on:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Cache dependancies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dependencies
        run: npm ci
      - name: Lint Project
        run: npm run lint
      - name: Test Project
        run: npm test
  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
        - name: Checkout code
          uses: actions/checkout@v3
        - name: Cache dependancies
          uses: actions/cache@v3
          with:
            path: ~/.npm
            key: deps-node-module-${{ hashFiles('**/package-lock.json') }}  
        - name: Install dependencies
          run: npm ci
        - name: Build Project
          run: npm run build
        - name: Publish Html fIlename
          run: find dist -name "*.html"
        - name: Upload Build Artifacts
          uses: actions/upload-artifact@v4
          with:
            name: dist-files
            path: dist
            # path: |
            #     dist
            #     package.json
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
        - name : Download Build Artifacts
          uses: actions/download-artifact@v4
          with:
            name: dist-files
        - name: Output contents of dist
          run: ls
        - name: Deploy to Server
          run: echo "Deploying to server..."